<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Register</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="NewTechStack's SSO">
  <link rel="icon" href="/assets/img/logo.webp">
  <link rel="stylesheet" href="/register/style.css">
  <link rel="stylesheet" href="/assets/css/notifications.css">
</head>
<body>
    <div id="app" :style="{ display: appDisplay }">
    <!-- Login form -->
      <div class="wrapper" >
        <div class="content">
          <span>Register</span>
          <form @submit.prevent="register" v-if="!load">
            <div class="inputBox">
              <input type="text" name="username" v-model="pseudo" placeholder="Pseudo" autocomplete="username" autocapitalize="off" autocorrect="off" spellcheck="false" aria-invalid="false">
              <div class="warning noselect" v-if="warning.pseudo.status == true"><div class="warning-img"></div><div class="text">{{ warning.pseudo.text }}</div></div>
            </div>
            <div class="inputBox">
              <input v-bind:type="password.type" name="password" v-model="password.value" placeholder="Password" autocomplete="current-password" autocapitalize="off" autocorrect="off" spellcheck="false" aria-invalid="false">
              <button type="button" v-bind:class="password.visibility" v-on:click="password_switch()"></button>
              <div class="warning noselect" v-if="warning.password.status == true"><div class="warning-img"></div><div class="text">={{ warning.password.text }}</div></div>
            </div>
            <div class="stayConnected">
              <input type="checkbox">
              <div>Keep me logged</div>
            </div>
            <a href="/login">Login</a>
            <button type="submit">Register</button>
          </form>
          <div v-if="load">
            <div class="loader"></div>
          </div>
      </div>
        <!-- Link to sign up page -->
        <footer>© NewTechStack</footer>
     </div>
     <notifications ref="notification"></notifications>
    </div>

    <script src="/assets/js/vue.min.js"></script>
    <script src="/assets/js/axios.min.js"></script>

    <script src="/assets/js/notifications.js"></script>
    <script src="/register/script.js"></script>

    <script src="/assets/js/encrypt.js"></script>
</body>
</html>
