<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Your account</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="NewTechStack's SSO">
  <link rel="icon" href="/assets/img/logo.webp">
  <link rel="stylesheet" href="/user/style.css">
  <link rel="stylesheet" href="/assets/css/notifications.css">
</head>
<body>
    <div id="app" :style="{ display: appDisplay }">
    <!-- Login form -->
      <div class="wrapper">
        <div class="width-full">
          <h2 class="text-title margin-no">Personal informations</h2>
          <span class="text-subtitle margin-no">Please save your changes by clicking on the validation button</span>
        </div>
        <div id="informations" class="text-normal width-full">
          <div v-if="!load">
            <span class="text-subtitle" v-if="user_data.metadata.last_update">
              Last modification: {{ user_data.metadata.last_update }}
            </span>
            <div class="width-half card card-130 card-left"  tabindex="0">
              <div class="card-title">
                <h3 class="text-normal">Pseudo</h3>
              </div>
              <div class="content">
                <span class="text-normal color">
                  {{ user_data.data.pseudo.data }}
                </span>
                <br v-if="user_data.data.pseudo.metadata.last_update">
                <span class="text-subtitle" v-if="user_data.data.pseudo.metadata.last_update">
                  Last modification: {{ user_data.data.pseudo.metadata.last_update }}
                </span>
                <br>
                <div class="text-subtitle">
                  {{ message("pseudo", user_data.data.pseudo.metadata.type.actual) }}
                </div>
              </div>
            </div>
            <div class="width-half card card-130 card-right" tabindex="0">
              <div class="card-title">
                <h3 class="text-normal">Contact</h3>
              </div>
              <div class="content">
                <span class="text-normal">
                  Email:
                  <a href="#" class="color">
                    <span v-if="user_data.data.contact.data.email.data == 'None'">/</span>
                    <span v-else>{{ user_data.data.contact.data.email.data }}</span>
                  </a>
                </span>
                <br>
                <span class="text-normal">
                  Phone: <a href="#" class="color">
                    <span v-if="user_data.data.contact.data.email.data == 'None'">/</span>
                    <span v-else>{{ user_data.data.contact.data.phone.data }}</span>
                    <!-- <div class="verified"> </div> -->
                  </a>
                </span>
                <br>
                <div class="text-subtitle">
                  {{ message("email", user_data.data.contact.data.email.metadata.type.actual, "phone number", user_data.data.contact.data.phone.metadata.type.actual) }}
                </div>
              </div>
            </div>
            <div id="wallet" class="width-full card card-130" tabindex="0">
              <div class="card-title" v-if="user_data.data.crypto.data.address.data != 'None' && new_wallet.active == false">
                <h3 class="text-normal">Wallet</h3>
              </div>
              <div class="content" v-if="user_data.data.crypto.data.address.data != 'None' && new_wallet.active == false">
                <div class="non">{{ 'user_data.data.crypto.data.address.data' | clear }}</div>
                <div class="text-normal">
                  <div>Name: <div class="color inline"> wallet 1 </div></div>
                  <div class="up-20 extend">
                    Address:
                    <a v-bind:href="'https://etherscan.io/address/' + user_data.data.crypto.data.address.data | clear_check" target="_blank" class="color">
                      {{ user_data.data.crypto.data.address.data | clear_check | address_filter}}
                    </a>
                    <button class="copy"  v-on:click="copy_to_clipboard(user_data.data.crypto.data.address.data)"></button>
                    <button class="add" v-on:click="add_wallet()"></button>
                    <div class="down" id="wallet-ex" tabindex="0"></div>
                    <div class="question" id="address-ex" tabindex="0"></div>
                    <div class="text-subtitle" tabindex="0">
                    {{ message("address", user_data.data.crypto.data.address.metadata.type.actual) }}
                    </div>
                    <div id="ex-wallet" tabindex="0">
                      Our platform simplifies how you interact with different blockchain networks.
                      You can access and manage your transactions and balances in one place.
                      The best part is you don't have to create separate accounts for each chain.
                      You can use the same wallet address across all compatible chains.
                      This makes it easier for you to keep track of everything without
                      needing to remember multiple login credentials or navigate
                      different interfaces.

                    </div>
                    <div id="ex-address" tabindex="0">
                      Our platform simplifies how you interact with different blockchain networks.
                      You can access and manage your transactions and balances in one place.
                      The best part is you don't have to create separate accounts for each chain.
                      You can use the same wallet address across all compatible chains.
                      This makes it easier for you to keep track of everything without
                      needing to remember multiple login credentials or navigate
                      different interfaces.
                      <ul>
                        <a target="_blank" v-bind:href="'https://etherscan.io/address/' + user_data.data.crypto.data.address.data | clear_check"><li><img src="/assets/img/ethereum.svg" alt="Logo Ethereum"/>Ethereum (ETH)</li></a>
                        <a target="_blank" v-bind:href="'https://bscscan.com/address/' + user_data.data.crypto.data.address.data | clear_check"><li><img src="/assets/img/bnb.svg" alt="Logo Ethereum"/>Binance Smart Chain (BSC)</li></a>
                        <a target="_blank" v-bind:href="'https://polygonscan.com/address/' + user_data.data.crypto.data.address.data | clear_check"><li><img src="/assets/img/polygon.svg" alt="Logo Ethereum"/>Polygon (MATIC)</li></a>
                        <a target="_blank" v-bind:href="'https://ftmscan.com/address/' + user_data.data.crypto.data.address.data | clear_check"><li><img src="/assets/img/fantom.svg" alt="Logo Ethereum"/>Fantom Opera (FTM)</li></a>
                        <a target="_blank" v-bind:href="'https://cchain.explorer.avax.network/address/' + user_data.data.crypto.data.address.data | clear_check"><li><img src="/assets/img/avalanche.svg" alt="Logo Ethereum"/>Avalanche (AVAX)</li></a>
                        <a target="_blank" v-bind:href="'https://explorer.harmony.one/address/' + user_data.data.crypto.data.address.data | clear_check"><li><img src="/assets/img/harmony.svg" alt="Logo Ethereum"/>Harmony One (ONE)</li></a>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="propose" v-if="user_data.data.crypto.data.address.data != 'None' && new_wallet.active == true && new_wallet.create == false  && new_wallet.import == false" >
                <div class="propose-title" v-if="create_wallet.step <= 1">
                  <div class="text-title color"><div class="eth"></div >Add a new wallet</div>
                  <div class="spacer"></div>
                  <div class="text-normal">Create a new wallet or import one using your private key</div>
                  <div class="text-subtitle display">
                    Don't worry you'll be keeping your old wallet(s)
                  </div>
                </div>
                <div id="wallet-action">
                  <button class="button" v-on:click="add_wallet_new()">New Wallet</button>
                  <button class="button" v-on:click="add_walllet_import()">Import a Wallet</button>
                </div>
                <div class="cancel" v-on:click="add_wallet_reset()"><button>Cancel</button></div>
              </div >

              <div v-if="new_wallet.import == true" class="propose">
                <div class="propose-title">
                  <div class="text-title color"><div class="eth"></div >Import your wallet</div>
                  <div class="spacer"></div>
                  <div class="text-normal">Simply and securely import your ethereum wallet</div>
                </div>
                <div class="question-compensator inline"></div>
                <div class="inline">Enter your private key</div>
                <div class="question" id="mnemonic-ex" tabindex="0"></div>
                <br><br>
                <div v-if="new_wallet.import_step == 0">
                    <input type="text" name="wallet name" v-model="create_wallet.private_key" placeholder="Your private key" autocapitalize="off" autocorrect="off" spellcheck="false" aria-invalid="false">
                    <div class="warning noselect" v-if="new_wallet.warning.value == true"><div class="warning-img"></div><div class="text">{{ new_wallet.warning.text }}</div></div>
                </div>
                <div id="mnemonic-choice">
                  <div class="button" v-on:click=generate_wallet_from_private()>
                      Next
                  </div>
                </div>
                <div id="ex-mnemonic" tabindex="0">
                  A wallet private key is a sequence of 64 characters consisting
                  of numbers and letters from A to F, usually starting with "0x"
                  <br><br>
                  Here is an example of a wallet private key:
                  <br>
                  - 0x2f7d3840a68fb29a0e76e6d5c5a5f5c8901c8d08f28c7b63f1f2924dcb26b4c4.
                </div>
              </div>

              <div v-if="((user_data.data.crypto.data.address.data == 'None') || (new_wallet.create == true)) && new_wallet.import == false" class="propose">
                  <div class="propose-title" v-if="create_wallet.step <= 1">
                    <div class="text-title color"><div class="eth"></div >Create your wallet</div>
                    <div class="spacer"></div>
                    <div class="text-normal">Simply and securely create your ethereum wallet</div>
                  </div>
                  <div id="new_address">
                    <div>
                      <div class="reload" v-if="create_wallet.step == 1" v-on:click="generate_wallet()">
                      </div>
                      <span class="address">
                          <div class="eth" v-if="create_wallet.step > 1"></div><div class="raw">{{ create_wallet.address }}</div>
                      </span>
                      <div>
                        <div class="dart" v-if="create_wallet.step == 1"  v-on:click="create_wallet.step += 1"></div>
                      </div>
                    </div>
                  </div>
                  <div class="text-subtitle display" v-if="this.new_wallet.active == false && create_wallet.step <= 1">
                    <div class="spacer"></div>
                    Already got a wallet ?
                    <span class="color action" v-on:click="add_walllet_import()"> click here to import by private key</span>
                  </div>
                  <div id="mnemonic">
                    <div v-if="create_wallet.step == 2" >
                      <div class="question-compensator inline"></div>
                      <div class="inline">Display your mnemonic </div>
                      <div class="question" id="mnemonic-ex" tabindex="0"></div>
                      <div id="ex-mnemonic" tabindex="0">
                        We offer you the option to view and store your <span class="color">mnemonic phrase</span>.
                        This phrase is a series of random words that can be used to regain
                        access to your wallet in case you lose your password or device.
                        Even though we store your private key, it's important to keep
                        your mnemonic phrase in a safe place and never share it with anyone.
                        <br><br>
                        <span class="color">Possessing your mnemonic phrase gives you additional control
                        over your wallet</span>, as it can be used to restore your wallet on
                        another platform if needed. Additionally, storing your mnemonic
                        phrase is a way to enhance the security of your Ether wallet,
                        as it can prevent a malicious third party from accessing
                        your wallet even if they obtain your password or device.
                        <br><br>
                        The choice to store your mnemonic phrase or not is up to you.
                        If you choose to store it, we recommend <span class="color">keeping it safe and
                        never sharing it with anyone</span>. If you have any questions or
                        concerns, please don't hesitate to contact us.
                        <br><br>
                        <div>
                          Do you want to store a copy of your mnemonic on your own ?
                        </div>
                      </div>
                      <div id="mnemonic-choice">
                        <div class="button" v-on:click="create_wallet.step = 5">
                            No
                        </div>
                        <div class="button" v-on:click="create_wallet.step = 3">
                            Yes
                        </div>
                      </div>
                    </div>
                    <div v-if="create_wallet.step >= 3 && create_wallet.step < 6" >
                      <div class="question-compensator inline"v-if="create_wallet.step <= 4"></div>
                      <div v-if="create_wallet.step < 5" class="inline">Your mnemonic</div>
                      <div class="question" tabindex="0" id="mnemonic-ex" v-if="create_wallet.step == 3"></div>
                      <div v-if="create_wallet.step == 4" class="replace-question"></div>
                      <div id="ex-mnemonic" tabindex="0" v-if="create_wallet.step < 5">
                        It's important to copy it down <span class="color">exactly as it's displayed</span>.
                        After copying it, store it in a secure location.
                        To ensure that you copied it correctly <span class="color">we will ask you to write it down</span>.
                        This is an important step to ensure that you have copied the mnemonic correctly
                        and that you can access your wallet in the future.
                        <br><br>
                        <span class="color">Be sure to store your written copy in a secure location</span>.
                        <br>
                      </div>
                      <div class="text-subtitle" tabindex="0" >
                        <span v-if="create_wallet.step == 3">From left to right up to down</span>
                        <div v-else class="replace-subtitle">.</div>
                      </div>
                      <div id="mnemonic-raw" v-bind:class="[create_wallet.step > 3 ? 'blur' : '']" v-if="create_wallet.step < 5">
                        <div v-for="word in create_wallet.mnemonic">
                          {{ word }}
                        </div>
                      </div>
                      <div id="memonic-test" v-if="create_wallet.step == 4">
                        {{ create_wallet.mnemonic_text }}
                        <br><br>
                        <div v-for="word in create_wallet.mnemonic_shuffle" v-on:click="mnemonic_add_word(word)" v-bind:class="[(create_wallet.mnemonic_try.includes(word)) ? 'disabled' : '']">
                          {{ word }}
                        </div>
                      </div>
                      <div v-if="create_wallet.step == 5">
                          <input type="text" name="wallet name" v-model="create_wallet.name" placeholder="Wallet name" autocapitalize="off" autocorrect="off" spellcheck="false" aria-invalid="false">
                          <div class="warning noselect" v-if="create_wallet.warning.value == true"><div class="warning-img"></div><div class="text">{{ create_wallet.warning.text }}</div></div>
                      </div>
                      <div id="mnemonic-choice">
                        <div class="button" v-if="create_wallet.step < 5" v-on:click="create_wallet.step -= 1; create_wallet.mnemonic_try = []">
                            Back
                        </div>
                        <div class="button" v-if="create_wallet.step < 4" v-on:click="create_wallet.step += 1">
                            Next
                        </div>
                        <div class="button" v-if="create_wallet.step > 4" v-on:click="store_wallet()">
                            Finish
                        </div>
                      </div>
                    </div>
                    <div id="mnemonic-loader" v-if="create_wallet.step == 6">
                      <span class="color">Securing</span> your data:
                      <br><br>
                      <div class="loader"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-if="load">
            <div class="loader"></div>
          </div>
        </div>
      </div>
        <!-- Link to sign up page -->
        <footer>© NewTechStack</footer>
     </div>
     <notifications ref="notifications"></notifications>
    </div>

    <script src="/assets/js/vue.min.js"></script>
    <script src="/assets/js/axios.min.js"></script>
    <script type="text/javascript" src="/assets/js/ethers-5.7.2.umd.min.js"> </script>
    <script src="/assets/js/notifications.js"></script>
    <script src="/user/script.js"></script>

    <script src="/assets/js/encrypt.js"></script>
</body>
</html>
