<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Page de connexion</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
    <!-- Login form -->
    <form @submit.prevent="login">
      <!-- Email input field with label -->
      <div class="inputBox">
        <input type="email" name="email" v-model="email">
        <label>Email</label>
      </div>
      <!-- Password input field with label -->
      <div class="inputBox">
        <input type="password" name="password" v-model="password">
        <label>Password</label>
      </div>
      <!-- Login button -->
      <button type="submit">Connect</button>
    </form>
    <!-- Link to sign up page -->
    <a href="/signup">Don't have an account? Sign up</a>
  </div>
  
  <!-- Chargement de Vue.js depuis un CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- Chargement d'Axios depuis un CDN -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
  var app = new Vue({
    el: '#app',
    data: {
      email: '',
      password: ''
    },
    methods: {
      async login(event) {
        // Envoi de la requête HTTP POST à l'URL /api/login en utilisant Axios
        try {
          const response = await axios.post('/api/login', {
            email: this.email,
            password: this.password
          });
          console.log(response);
        } catch (error) {
          console.error(error);
        }
      }
    }
  });
</script>
</body>
</html>
