<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="NewTechStack's SSO">
  <link rel="icon" href="/asset/img/logo.webp">
  <link rel="stylesheet" href="/login/style.css">
  <link rel="stylesheet" href="/login/notifications.css">
</head>
<body>
    <div id="app" :style="{ display: appDisplay }">
      <div class="wrapper" >
        <div class="content">
          <form @submit.prevent="login" v-if="!load">
            <div class="inputBox">
              <input type="username" name="username" v-model="pseudo" placeholder="pseudo">
            </div>
            <div class="inputBox">
              <input type="password" name="password" v-model="password" placeholder="Password" autocomplete="password">
            </div>
            <a href="/register">Register</a>
            <button type="submit">Login</button>
          </form>
          <div v-if="load">
            <div class="loader"></div>
          </div>
      </div>
        <footer>© NewTechStack</footer>
     </div>
     <notifications ref="notification"></notifications>
    </div>

    <script src="/asset/js/vue.min.js"></script>
    <script src="/asset/js/axios.min.js"></script>

    <script src="/login/notifications.js"></script>
    <script src="/login/script.js"></script>
</body>
</html>
